.android/
.mozilla/
Android Open Source Project/
GIMP/
Google/
Kvantum/
Mousepad/
QtProject.conf
Thunar/
autostart/
celeste/
copyq/
dconf/
falkon/
gh/
gtk-2.0/
gtk-3.0/
hexchat/
kdeconnect/
keepassxc/
libreoffice/
manjaro-hello.json
manjaro/
menus/
mimeapps.list
obsidian/
pamac/
pavucontrol.ini
picom/
pulse/
qt5ct/
redshift.conf
scripts/
syncthing-gtk/
user-dirs.dirs
user-dirs.locale
viewnior/
vlc/
volumeicon/
winboat/
xfce4/
go/
openttd/
qBittorrent/categories.json
qBittorrent/lockfile
qBittorrent/qBittorrent-data.conf
qBittorrent/qBittorrent.conf
qBittorrent/watched_folders.json
retroarch/
yay/
audacious/
chromium/
nohup.out
wallpaper/.stfolder
okularpartrc
okularrc
session/
vifm/
